.editor {
  width: 300px;
  margin: 20px;
}

.markdown > h1:after {
  content: "(h1)";
}

.markdown > h2:after {
  content: "(h2)";
}

.markdown > h3:after {
  content: "(h3)";
}

.markdown > h4:after {
  content: "(h4)";
}

.markdown > h5:after {
  content: "(h5)";
}

.markdown > h6:after {
  content: "(h6)";
}

.markdown > p:after {
  content: "(p)";
}

.markdown > * {
  border: 1px solid #c8c8c8;
}

.markdown > p,
.markdown > h1,
.markdown > h2,
.markdown > h3,
.markdown > h4,
.markdown > h5,
.markdown > h6 {
  position: relative;
}

.markdown > p:after,
.markdown > h1:after,
.markdown > h2:after,
.markdown > h3:after,
.markdown > h4:after,
.markdown > h5:after,
.markdown > h6:after {
  position: absolute;
  right: 0;
  top: 0;
  color: #c8c8c8;
  margin-left: 3px;
  font-size: 12px;
}

.markdown a {
  color: red;
}
